@import "~/epam/e3sui/lib/bootstrap/less/variables";
@import "~/epam/e3sui/lib/reui/less/variables.less";
@import "~/epam/e3sui/less/e3suiVariables.less";

@ctrl: ~".epsrchFacet";

@epsrchFacet_FontSize: 14px;
@epsrchFacet_Padding: 10px;
@epsrchFacet_Margin: 5px;

.epsrchFacet {
    //TODO
    &-hidden:not(.epsrchFacet-forceShow),
    &-forceHide:not(.epsrchFacet-forceShow) {
        display: none;
    }
}

.epsrchFacet {
    position: relative;
    padding: 5px 9px;

    overflow-x: hidden;
    font-size: @epsrchFacet_FontSize;
    background-color: #ffffff;

    // Space between facets
    & + & {
        margin-top: @epsrchFacet_Margin;
    }

    // Decrease margin if facet collapsed
    &-collapsed + & {
        margin-top: 2px;
    }

    &-collapsible > @{ctrl}__caption {
        cursor: pointer;
    }

    &-collapsed > &__body {
        display: none;
    }

    &-itemsCollapsed {
        @{ctrl}__facetItem-hidden {
            display: none;
        }
    }

    &__checkedCounter {
        display: inline;
        color: @e3sui_GrayMediumClr;
        &:not(:empty) {
            &:before {
                content: "x";
            }
        }
    }

    // .epsrchFacet__facetItem display state
    &__itemsContainer {
        margin-bottom: 0;
    }
}

@{ctrl}__caption {
    display: flex;
    // For draggable icon animation
    position: relative;
    transition: left .1s ease;
    left: 0;
    will-change: left;
    margin-bottom: 3px;
    &FacetTitleContainer {
        flex: 0 1 auto;
        font-weight: 600;
    }

    &BodyExpand {
        &Container {
            flex: 1 0 auto;
            // Align with caption text
            position: relative;
            top: -1px;

            padding-left: 5px;
            text-align: right;
            opacity: 1;
            transition: opacity 0.1s ease;
            &:hover {
                color: @e3sui_GrayDarkClr;
            }
        }

        &TextContainer {
            font-size: 12px;
        }

        &Text {
            font-size: inherit;
            vertical-align: middle;
        }

        &Icon {
            // Align icon
            font-size: inherit;
            vertical-align: middle;

            @{ctrl}-itemsCollapsed & {
                &:before {
                    content: "\e918"; // All [+]
                }
            }

            &:before {
                 content: "\e917"; // Hide [-]
             }
        }
    }

    &FacetTitle {
        // Align with checkbox label
        margin-left: 2px;

        &Icon {
            // Align icon
            position: relative;
            top: -1px;
            vertical-align: middle;
            &:before {
                content: "\e913";
            }
        }
        @{ctrl}-collapsed &Icon {
            &:before {
                content: "\e802";
            }
        }
    }
}

@highlightColor: #ffe17f;
@{ctrl}__facetItem {
    display: flex;
    color: @e3sui_GrayDarkClr;

    &-obsolete {
        color: @e3sui_GrayMediumClr;
    }

    &_name {
        flex: 0 1 auto;
        word-wrap: break-word;
        label {
            line-height: 15px;
            margin-bottom: 3px;
        }
    }

    &_count {
        flex: 1 0 auto;
        padding-left: 5px;
        text-align: right;
    }

    // When apply filter, facet items forced hide or show
    &-forceHide {
        display: none;
    }

    &-forceShow {
        display: flex;
    }

    &-filterHighlight {
        font-style: normal;
        background-color: @highlightColor;
    }
}

.facetDraggableHandler {
    left: -0px;
    color: @e3sui_BlueSharpClr;
    & + @{ctrl}__caption {
        left: 10px;
        @{ctrl}__captionBodyExpandContainer {
            opacity: 0;
        }
    }
}

@{ctrl}__dragHandler {
    position: absolute;
    top: 3px;
    left: -11px;
    padding: 5px 3px; // Increase hover box size
    transition: left .1s ease;
    color: @e3sui_GrayMediumClr;
    cursor: move;
    &:hover {
        .facetDraggableHandler();
    }
}

@{ctrl}__facetDragged {
    background-color: @highlightColor;
    @{ctrl}__dragHandler {
        background-color: @highlightColor;
        .facetDraggableHandler();
    }
}
