@font-face {
    font-family: 'es';
    src: url('./font/e3suiFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.es {
    font: normal normal normal 15px/1 es;
    text-rendering: auto;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    speak: none;
}

[class*="es-m-"] {
    font-size: 30px;
}

[class*="es-l-"] {
    font-size: 45px;
}

.es-collapse:before {
    content: "\e919";
}
.es-expand:before {
    content: "\e91a";
}

.es-minus-bordered:before {
    content: "\e917";
}
.es-plus-bordered:before {
    content: "\e918";
}

.es-draggable:before {
    content: "\e916";
}

.es-m-arrow-top-left:before {
    content: "\e910";
}

.es-gear:before {
    content: "\e911";
}

.es-minus:before {
    content: "\e912";
}

.es-chevron-down:before {
    content: "\e913";
}

.es-chevron-up:before {
    content: "\e914";
}

.es-cross:before {
    content: "\e915";
}

.es-person:before {
    content: "\e90f";
}

.es-chevron-right-inverse:before {
    content: "\e90e";
}

.es-m-flip:before {
    content: "\e908";
}

.es-m-help:before {
    content: "\e909";
}

.es-m-lock-closed:before {
    content: "\e90a";
}

.es-m-lock-opened:before {
    content: "\e90b";
}

.es-m-pencil:before {
    content: "\e90c";
}

.es-m-trash:before {
    content: "\e90d";
}

.es-pin:before {
    content: "\e907";
}

.es-balloon:before {
    content: "\e906";
}

.es-ellipsis:before {
    content: "\e903";
}

.es-phone:before {
    content: "\e904";
}

.es-skype:before {
    content: "\e905";
}

.es-m-chain:before {
    content: "\e900";
}

.es-m-looking-glass-plus:before {
    content: "\e901";
}

.es-m-looking-glass:before {
    content: "\e902";
}

.es-chevron-right:before {
    content: "\e806";
}

.es-looking-glass:before {
    content: "\e807";
}

.es-letter:before {
    content: "\e808";
}

.es-l-bell:before {
    content: "\e809";
}

.es-telescope-logo:before {
    content: "\e80a";
}

.es-arrow-right-b:before {
    content: "\e804";
}

.es-hamburger:before {
    content: "\e805";
}

.es-l-briefcase:before {
    content: "\e803";
}

.es-parent-arrow-up-down:before {
    content: "\e800";
}

.es-m-chevron-left:before {
    content: "\e801";
}

.es-m-chevron-right:before {
    content: "\e802";
}

.es-plus:before {
    content: "\e611";
}

.es-buggy:before {
    content: "\e60f";
}

.es-away:before {
    content: "\e610";
}

.es-heroes-tiny:before {
    content: "\e60e";
}

.es-ban:before {
    content: "\e60c";
}

.es-lock:before {
    content: "\e60d";
}

.es-parent-arrow:before {
    content: "\e60a";
}

.es-item-done:before {
    content: "\e607";
}

.es-item-open:before {
    content: "\e608";
}

.es-item-overdue:before {
    content: "\e609";
}

.es-cup:before {
    content: "\e60b";
}

.es-medkit:before {
    content: "\e606";
}

.es-beach:before {
    content: "\e603";
}

.es-plane:before {
    content: "\e604";
}

.es-trophy:before {
    content: "\e605";
}

.es-gift:before {
    content: "\e600";
}

.es-birthday:before {
    content: "\e601";
}

.es-star:before {
    content: "\e602";
}
