@e3suiGridWidth: 1130px + 30px;

/* UUI COLORS */

// Primary
@e3sui_NormalGreyClr: #464547;
@e3sui_LimeClr: #A3C644;
@e3sui_BlueSharpClr: #39C2D7;

// Secondary
@e3sui_RaspberryClr: #B22746;
@e3sui_PlumClr: #8E244D;
@e3sui_BlueDarkClr: #1A9CB0;
@e3sui_GreenDarkClr: #7F993A;
@e3sui_PurpleClr: #B27AF7;

// Black
// ...4% of black
@e3sui_GrayLightestClr: #F0F0F0;
// ...11%
@e3sui_GrayLightClr: #E3E3E3;
// ...33%
@e3sui_GrayMediumClr: #ABABAB;
// ...62%
@e3sui_GrayDarkClr: #616161;
// ...89%
@e3sui_GrayDarkestClr: #1C1C1C;

// ...Deprecated
@e3sui_GrayClr_Deprecated: #999999;
@e3sui_GreyBlueDarkClr_Deprecated: #3d3c3e;
@e3sui_GreyDarkClr_Deprecated: #404040;
@e3sui_GreyLightestClr_Deprecated: #EEEEEE;

// Other
@e3sui_generalBackgroundColor: #f2f6f7;
@e3sui_generalProfileBackgroundColor: @e3sui_generalBackgroundColor;
@e3sui_headerHoverClr: @e3sui_BlueSharpClr;
@e3sui_headerPrimaryBg: @e3sui_NormalGreyClr;
@e3sui_headerSecondaryBg: #2e2e2e;

// SHADOWS
@e3sui_Shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
