// Form and input styles
// This file overrides styles specified in bootstrap/less/forms.less file.
// --------------------------------------------------

//** A form control: an input, a checkbox etc
.form-control {
  // Horizontal padding for inputs differ from the padding for other elements
  @padding-form-horizontal: @padding-base-vertical * 2;

  padding: @padding-base-vertical @padding-form-horizontal;

  // Remove Bootstrap-default transition
  -webkit-transition: none;
  transition: none;

  // Remove Bootstrap-default box-shadow
  &,
  .has-success &,
  .has-warning &,
  .has-error & {
    &,
    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  // Make the disabled and readonly inputs text lighter
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    color: @x-input-color-disabled;
  }
}

//** A horizontal form
.form-horizontal {
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: calc(~"@{padding-base-vertical} + 1px"); // Default padding plus a border
  }

  .radio,
  .checkbox {
    min-height: calc(~"@{line-height-computed} + @{padding-base-vertical} + 1px");
  }

  @media (min-width: @screen-sm-min) {
    .control-label {
      padding-top: calc(~"@{padding-base-vertical} + 1px"); // Default padding plus a border
    }
  }

  .form-group-lg {
    @media (min-width: @screen-sm-min) {
      .control-label {
        padding-top: floor(unit(@padding-large-vertical, px) * @font-size-large) + 2px;
        line-height: unit(@line-height-base * @font-size-large / @font-size-base, em);
      }
    }
  }
  .form-group-sm {
    @media (min-width: @screen-sm-min) {
      .control-label {
        padding-top: floor(unit(@padding-small-vertical, px) * @font-size-small) + 1px;
        line-height: unit(@line-height-base * @font-size-small / @font-size-base, em);
      }
    }
  }
}

//** The text that replaces a form control
.form-control-static {
  padding-top: calc(~"@{padding-base-vertical} + 1px");
  padding-bottom: calc(~"@{padding-base-vertical} + 1px");
  min-height: calc(~"@{line-height-computed} + @{font-size-base}");
}

//** The form status icon (OK, warning, error)
.has-feedback label ~ .form-control-feedback {
  // @line-height-computed is the line-height of the form label, and 5px is its bottom-margin.
  top: calc(~"@{line-height-computed} + 5px");
}

//** An output element
output {
  padding-top: calc(~"@{padding-base-vertical} + 1px");
}

//** An input label
label {
  font-weight: normal;
}

// When form is marked with .has-(success|warning|error) class,
// change only the field color, and don’t touch the label one
.has-success .control-label,
.has-warning .control-label,
.has-error .control-label
{
  color: @text-color;
}

// Checkbox and radio styles
// This file neither override nor extend any Bootstrap styles. It provides custom styling for reui needs.
// --------------------------------------------------

/* IMPORTANT: checkbox/radio must be built in the following way:
    <div class="checkbox">
        <input type="checkbox" id="<appName>__<checkboxName>" />
        <label for="<appName>__<checkboxName>">Checkbox description</label>
    </div>

    or

    <div class="checkbox-inline checkbox-inline-label-empty">
        <input type="checkbox" id="<appName>__<checkboxName>" />
        <label for="<appName>__<checkboxName>">Checkbox description</label>
    </div>

    for inline elements without top/bottom margins
*/

// Reset default Bootstrap style
.checkbox-inline,
.radio-inline {
  cursor: inherit;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio [type="radio"],
.radio-inline [type="radio"] {
  // Hide the checkbox/radio
  // display: none or visibility: hidden discards this possibility
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;

  & + label {
    cursor: pointer;
  }

  &:disabled,
  &:disabled + label {
    cursor: not-allowed;
  }

  // Set up basic styles for the custom checkbox
  & + label:before {
    content: "";

    // label::before is positioned relatively to div.checkbox
    position: absolute;
    margin: 4px 0 0;

    // Checkbox size is fixed as sprites are used
    width: 16px;
    height: 16px;

    background-image: url(checkbox-radiobutton-sprites.svg);

    // Element is moved left relatively to its current position to keep it near to the label.
    // left: 0 works in most cases, but does not work when text is aligned to the right side of div.checkbox.
    // 20px is 16px as width + 4px as margin.
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

.checkbox input[type="checkbox"],
.radio [type="radio"] {
  margin-left: 0;
}

.checkbox-inline input[type="checkbox"],
.radio-inline input[type="radio"] {
  margin-left: -20px;

  & + label:before {
    top: 0;
    margin-top: 2px;
  }
}

.checkbox-inline.checkbox-inline-label-empty input[type="checkbox"],
.radio-inline.radio-inline-label-empty input[type="radio"] {
  & + label:before {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
  }
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  &:enabled:focus:checked + label:before {
    background-position: 0 0;
  }

  &:enabled:focus:not(:checked) + label:before {
    background-position: -75px 0;
  }

  &:enabled:not(:focus):checked + label:before {
    background-position: -25px 0;
  }

  &:enabled:not(focus):not(:checked) + label:before {
    background-position: -50px 0;
  }

  // Disabled checkbox cannot be focused, so styling :focus pseudo-class is meaningless
  &:disabled:checked + label:before {
    background-position: -125px 0;
  }

  &:disabled:not(:checked) + label:before {
    background-position: -100px 0;
  }
}

.radio [type="radio"],
.radio-inline [type="radio"] {
  &:enabled:focus:checked + label:before {
    background-position: 0 -25px;
  }

  &:enabled:focus:not(:checked) + label:before {
    background-position: -75px -25px;
  }

  &:enabled:not(:focus):checked + label:before {
    background-position: -25px -25px;
  }

  &:enabled:not(focus):not(:checked) + label:before {
    background-position: -50px -25px;
  }

  // Disabled radio-button cannot be focused, so styling :focus pseudo-class is meaningless
  &:disabled:checked + label:before {
    background-position: -125px -25px;
  }

  &:disabled:not(:checked) + label:before {
    background-position: -100px -25px;
  }
}
