.r-e3sSearch {
  position: relative;
  margin-top: 20px;
  padding-left: 250px;
  padding-right: 250px;

}

.r-e3sSearch__left {
  position: fixed;
  left: 250px;
  margin-left: -250px;
  width: 250px;
  height: 300px;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
  background-color: #f5f5f5;
  /*z-index: 1000;*/
}

.r-e3sSearch__middle {
  width: 100%;
  height: 1000px;
  /*min-width: 600px;*/
  background-color: grey;

}

.r-e3sSearch__right {
  position: fixed;
  right: 250px;
  top: 114px;
  margin-right: -250px;
  width: 250px;
  height: 300px;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
  background-color: #f5f5f5;
 /* z-index: 1000;*/
}