// Text styles
// This file overrides styles specified in bootstrap/less/type.less file.
// --------------------------------------------------

// Override margins to make header nearer to its section content
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);
}

// Make browser optimize visual look of the text
body {
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
}