// Table styles
// This file overrides styles specified in bootstrap/less/tables.less file.
// The header MUST have the following structure: thead > tr > th.
// --------------------------------------------------

// Normal table
.table {
  > thead > tr {
    > th {
      // Remove the border between thead and tbody
      border-bottom: none;

      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  > tbody > tr {
    > td input.form-control {
      // Align placeholders and input content with other table content
      margin-left: calc(~"-0.5em - 1px"); // -<padding> -<input border>
      width: 102%;
    }
  }
}
