// Modal styles
// This file overrides styles specified in bootstrap/less/modal.less file.
// --------------------------------------------------

//** Container for modal header, body and footer
.modal-content {
    border: none;
    border-radius: @x-modal-border-radius;

    // overflow: hidden is set to make border-radius for the modal work.
    // If it crops tooltips or other floating elements, unset it in the concrete modal,
    // but make sure the borders are round.
    overflow: hidden;
}

//** Modal header
.modal-header {
    padding: @x-modal-inner-vertical-padding @x-modal-inner-horizontal-padding;
    min-height: @x-modal-inner-vertical-padding * 2 + @font-size-h4 * @line-height-base;
    border: none;

    background-color: @x-modal-title-bg;
    color: @x-modal-title-color;

    font-family: @x-font-family-accent;
}

//** Close icon
.modal-header {
    // The position: relative is required to align the .close absolutely
    position: relative;

    .close {
        // Align the close button
        position: absolute;
        top: 50%;
        right: 1.25em;
        margin-top: -0.75em;

        width: @x-close-size;
        height: @x-close-size;

        background: url("../../../@{x-close-image-path}") no-repeat;

        // Unset bootstrap styles
        color: transparent;
        font-size: inherit;
        line-height: inherit;
        opacity: 1;
        text-shadow: none;

        // Transparency is used to hide the .close content and show the image instead
        > span {
            opacity: 0;
        }
    }
}

//** Modal body
.modal-body {
    padding: @x-modal-inner-vertical-padding @x-modal-inner-horizontal-padding;
    border: none;
}

//** Modal footer (for actions)
.modal-footer {
    padding: @x-modal-inner-vertical-padding @x-modal-inner-horizontal-padding;
    border: none;
}