// Pagination styles
// This file overrides styles specified in bootstrap/less/pagination.less file.
// --------------------------------------------------

// Set the border-radius for the first and the last buttons in the pagination group
.pagination {
    > li {
        &:first-child {
            > a,
            > span {
                margin-left: 0;
                .border-left-radius(@x-pagination-border-radius);
            }
        }
        &:last-child {
            > a,
            > span {
                .border-right-radius(@x-pagination-border-radius);
            }
        }
    }
}