// Expander styles
// This file is provided for legacy reasons. It is being used in search response items.
// When designing reui, this file was left as-is.
// --------------------------------------------------

.expander {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    background-color: #747474;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 2px;
        margin: -1px 0 0 -4px;
        background-color: #fff;
    }
    &.open:after {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}