// Popover styles
// This file overrides styles specified in bootstrap/less/popovers.less file.
// --------------------------------------------------

//** Popover
.popover {
    // Reset Bootstrap styles
    padding: 0;
    border: none;

    // Set custom shadow
    -webkit-box-shadow: @x-popover-shadow;
    box-shadow: @x-popover-shadow;
}

//** Popover title
.popover-title {
    min-height: 1.5em;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 4px;

    color: @gray-light;
    font-size: @font-size-small;
}

.popover-content {
    padding: @x-popover-vertical-padding @x-popover-horizontal-padding;
}

//** Arrow on bottom popover
.popover.bottom > .arrow {
    &:after {
        border-bottom-color: @popover-title-bg;
    }
}