<header>
    <nav>
        <h1>Ng-Facets</h1>
    </nav>
</header>


<main>
    <section class="test-controls">
        <button class="btn btn-default" (click)="setFacetData('simple')">Set _Simple_ data</button>
        <button class="btn btn-default" (click)="setFacetData('oldData')">Set _OLD_ data</button>
        <button class="btn btn-default" (click)="setFacetData('newData')">Set _NEW_ data</button>
    </section>

    <epsrchFacets [facetsContainer]="facetContainer"></epsrchFacets>
</main>