// Button styles
// This file overrides styles specified in bootstrap/less/buttons.less file.
// --------------------------------------------------

.btn {
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @x-btn-border-radius);

  // Remove Bootstrap-default box-shadow
  &:active,
  &.active {
    box-shadow: none;
  }
}

.btn-default {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  .button-variant-disabled(@x-btn-default-disabled-bg; @x-btn-default-disabled-border);
}

.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  .button-variant-disabled(@x-btn-primary-disabled-bg; @x-btn-primary-disabled-border);
}

.btn-warning {
  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  .button-variant-disabled(@x-btn-warning-disabled-bg; @x-btn-warning-disabled-border);
}

.btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  .button-variant-disabled(@x-btn-danger-disabled-bg; @x-btn-danger-disabled-border);
}

.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  .button-variant-disabled(@x-btn-success-disabled-bg; @x-btn-success-disabled-border);
}

.btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  .button-variant-disabled(@x-btn-info-disabled-bg; @x-btn-info-disabled-border);
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @x-btn-border-radius);
}

.btn-sm {
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @x-btn-border-radius);
}

.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @x-btn-border-radius);
}

// Custom Sizes
// --------------------------------------------------

.btn {
  & > .responsiveText {
    margin-left: 5px;
    display: none;
    @media (min-width: @screen-lg) {
      display: inline;
    }
  }
}