// Nav styles
// This file overrides styles specified in bootstrap/less/navs.less file.
// --------------------------------------------------

// Legacy styles
@import "navtabs-content";

// Actual styles

//** Navigation element
.nav {
  > li > a {
    color: @x-nav-color;
  }

  &.nav-tabs {
    > li {
      // Reset Bootstrap styles
      > a {
        margin-right: 0;
      }

      // Add border on the top of active tab
      // ::before is used instead of border-top to make the border look better
      &.active::before {
        content: "";

        position: absolute;

        display: block;
        width: 100%;
        height: @x-nav-tabs-active-top-border-width;

        background: @x-nav-tabs-active-top-border-color;

        z-index: 1;

        .modal & {
          z-index: @zindex-modal + 1;
        }
      }
    }
  }
}