// Nav tabs styles
// This file is provided for legacy reasons. It is being used in BPM applications.
// When designing reui, this file was left as-is.
// --------------------------------------------------

@import "../../../themes/controls/navtab/navTab";

.nav-tabs-content {
  padding-left: 20px; //mb need %
  font-size: 14px;

  .navContent_menuItem();
  .navContent_menuItem-active();
  .navContent_menuItem-open();
}

.navContent_menuItem() {
  > li {
    > a {
      padding: @navContent_menuItem-padding;
      border-top: 3px solid @navContent_menuItem-BrClr;

      &:hover {
        background-color: @navGlobal_menuItem-activeBgClr;
        border: 1px solid @navContent_menuItem-BrClr;
      }
    }
  }
}

.navContent_menuItem-active() {
  > li.active {

    > a,
    > a:hover,
    > a:focus {
      margin: 0;
      border: 0;
      border-bottom: 1px solid @navContent_menuItem-BrClr;
      border-top: 1px solid @navContent_menuItem-BrClr;
      border-right: 1px solid @navContent_menuItem-activeBrClr;
      border-left: 1px solid @navContent_menuItem-activeBrClr;
    }
  }

}

.navContent_menuItem-open() {
  .open {
    > a,
    > a:hover,
    > a:focus {
      border-bottom: 1px solid @navContent_menuItem-BrClr;
      border-top: 3px solid @navContent_menuItem-openBrTopClr;
    }
  }
}

.nav-tabs-content .dropdown-menu {
  left: -1px;
}

.nav-tabs-content__body {
  padding: 10px;
}
