@navContent_menuItem-padding : 7px 15px;

//GLOBAL
//-----------------------------------------------

@navGlobal_menuItem-activeBgClr : #ffffff;

//Content
//-----------------------------------------------

@navContent_menuItem-BrClr : #ffffff;
@navContent_menuItem-activeBrClr : #dadada;
@navContent_menuItem-openBrTopClr : #ccc;
