@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    src: local("Oswald Light"),
        local("Oswald-Light"),
        url(Oswald-Light.woff) format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: italic;
    font-weight: 300;
    src: local("Oswald Light Italic"),
    local("Oswald-LightItalic"),
    url(Oswald-LightItalic.woff) format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"),
    local("Oswald-Regular"),
    url(Oswald-Regular.woff) format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: italic;
    font-weight: 400;
    src: local("Oswald Regular Italic"),
        local("Oswald-RegularItalic"),
        url(Oswald-RegularItalic.woff) format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    src: local("Oswald DemiBold"),
        local("Oswald-DemiBold"),
        url(Oswald-DemiBold.woff) format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: italic;
    font-weight: 600;
    src: local("Oswald DemiBold Italic"),
        local("Oswald-DemiBoldItalic"),
        url(Oswald-LightItalic.woff) format("woff");
}

// Duplicate demibold font for bold font-weight.
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    src: local("Oswald DemiBold"),
        local("Oswald-DemiBold"),
        url(Oswald-DemiBold.woff) format("woff");
}

@font-face {
    font-family: "Oswald";
    font-style: italic;
    font-weight: 700;
    src: local("Oswald DemiBold Italic"),
        local("Oswald-DemiBoldItalic"),
        url(Oswald-LightItalic.woff) format("woff");
}