@import "../../../themes/regions/actionBar/actionBar-vars";

.action-bar {
  margin-bottom: 20px;
  background: @actionbar_BgClr;
  border-bottom: 1px solid #dadada;
  & .buttons {
    padding: 10px 20px 9px;
  }
}
