@import (reference) "../e3s/reui/less/variables.less";
@import (reference) "../e3s/e3suiVariables.less";

@epsrchFacets__head_height: 37px; // input height + margin bottom

//new added styles only for ng-facets app
.epsrchFacets {
    max-width: 250px;

    &__filter {
        padding-top: 0;
        padding-right: 28px;
        padding-bottom: 0;
        /*width: 100%;*/
        font-weight: normal;
    }

    &__body {
        margin-bottom: 10px;
    }

    .epsrchFacet {
        box-shadow: @x-shadow-default;
    }

    // Space between facets
    @epsrchFacet_Margin: 5px;
    .epsrchFacets__item + .epsrchFacets__item {
        margin-top: @epsrchFacet_Margin;
    }
}

.epsrchFacets {
    width: 100%;
    height: 100%;
    position: relative;

    // Decrease the font size to make facets more compact
    font-size: 14px;

    &-hidden {
        display: none;
    }

    // Style Facets filter e3suiQuickSearch.wfc
    &__filter {
        > input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ddd;
        }
    }

    // Facets list
    &__bodyBox {
        position: absolute;
        top: @epsrchFacets__head_height;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__headBox {
        margin-bottom: 5px;
    }

    &__head {
        width: 100%;
        padding: 0;
        display: table;

        div + span {
            width: 3px;
        }

        > * {
            display: table-cell;
        }

        > .es {
            width: 2em;
            height: 2em;
            color: @e3sui_BlueSharpClr;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    &__btnConfigure {
        color: @e3sui_BlueSharpClr;

        &-changed {
            color: #D95450;
        }
    }

    &__btnCollapseAll {
        color: @e3sui_BlueSharpClr;

        &-collapsed {
            color: @brand-danger;
        }
    }

    &__emptyMessage {
        color: @e3sui_GrayDarkClr;
    }

    // Style for wfuiScrollPane.wfc
    &__facetScroller {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &.wfuiScrollPane {
            &__vthumb {
                width: 3px;
            }

            &:hover {
                & > .wfuiScrollPane__vbar,
                & > .wfuiScrollPane__vthumb {
                    width: 5px;
                }
            }

            &__vbpos-top:after,
            &__vbpos-middle:after,
            &__vbpos-bottom:before {
                content: '';
                position: absolute;
                top: -1px;
                left: 0;
                width: 100%;
                height: 1px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                z-index: 1;
            }

            &__vbpos-middle:before {
                content: '';
                position: absolute;
                top: -1px;
                left: 0;
                width: 100%;
                height: 1px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
                z-index: 1;
            }

            &__vbpos-middle:after,
            &__vbpos-top:after {
                top: auto;
                bottom: -1px;
            }
        }
    }
}