<div class="epsrchFacets">
    <div *ngIf="facetsKeys().length > 0">
        <div class="epsrchFacets__headBox">
            <div class="epsrchFacets__head">
                <input type="search" class="form-control input-sm epsrchFacets__filter"
                placeholder="Filter All"/>
                <span class="es es-collapse"
                      title="Collapse/Expand All Facets">
                </span>
                <span class="epsrchFacets__btnConfigure es es-gear"
                      title="Facets Settings">
                </span>
            </div>
        </div>
        <div class="epsrchFacets__bodyBox">
            <div class="epsrchFacets__body" >
                <div *ngFor="#facet of facetsContainer.facets | sortBy:'order' | values" class="epsrchFacets__item">
                    <epsrchFacet [facetData]="facet"></epsrchFacet>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="facetsKeys().length == 0">
        <div class="epsrchFacets__emptyMessage">
            All facets are disabled. Go to <a href="#">facet settings</a> to enable those you need.
        </div>
    </div>
</div>