<div class="epsrchFacet epsrchFacet-collapsible"
     [ngClass]="{
        'epsrchFacet-itemsCollapsed': isItemsCollapsed,
        'epsrchFacet-collapsed': isFacetCollapsed
        }">
    <div class="epsrchFacet__dragHandler es es-draggable"></div>
    <div class="epsrchFacet__caption">
        <div class="epsrchFacet__captionFacetTitleContainer" (click)="toggleCollapseFacet()">
            <span class="es epsrchFacet__captionFacetTitleIcon"></span>
            <span class="epsrchFacet__captionFacetTitle">
                {{viewData.facetTitle}}
            </span>
            <span class="epsrchFacet__checkedCounter">{{getCheckedCount() > 0 ? getCheckedCount() : ""}}</span>
        </div>
        <div class="epsrchFacet__captionBodyExpandContainer" *ngIf="viewData.count > 6">
            <span class="epsrchFacet__captionBodyExpandTextContainer" (click)="toggleCollapseItems()">
                <span class="epsrchFacet__captionBodyExpandText">{{viewData.itemsExpandText}}</span>
                <span class="es epsrchFacet__captionBodyExpandIcon"></span>
            </span>
        </div>
    </div>

    <div class="epsrchFacet__body">
        <ul class="epsrchFacet__itemsContainer list-unstyled">
            <li *ngFor="#facetItem of viewData.items | values" class="epsrchFacet__items epsrchFacet__facetItem"
                [(ngClass)]="facetItem.styleClass">
                <div class="epsrchFacet__facetItem_name checkbox-inline">
                    <input [(ngModel)]="facetItem.checked"
                           [id]="facetItem.styleId" type="checkbox"
                           [(checked)]="facetItem.checked"/>
                    <label [attr.for]="facetItem.styleId">{{facetItem.name}}</label>
                </div>
                <div class="epsrchFacet__facetItem_count">{{facetItem.count | numberspace:3}}</div>
            </li>
        </ul>
    </div>
</div>