// The custom fonts used for @font-family-serif and @font-family-monospace are disabled
// because the serif and monospace font families are not used anywhere,
// and it takes about 250 ms to retrieve the fonts
// @import url(//fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
// @import url(//fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

@import "../assets/fonts/SourceSansPro/SourceSansPro.less";
@import "../assets/fonts/Oswald/Oswald.less";
@import "variables";

/* Fix IE 10 Scroll */
body {
    -ms-overflow-style: scrollbar;
}