//** Makes the element 100% height of the parent
.full-height() {
  height:100%;
  min-height:100%;
}

//** Specifies the button colors for disabled state
.button-variant-disabled(@disabled-background; @disabled-border) {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: @x-btn-color-disabled;  // The color is semi-transparent for all disabled buttons by-design
      background-color: @disabled-background;
      border-color: @disabled-border;
    }
  }
}