// This file overrides Bootstrap print styles to make them more suitable for reui needs
// as well as defines reui-specific styles.
// Bootstrap styles are defined in bootstrap/less/print.less file.

@media print {
    a[href]:after {
        content: "";
    }

    abbr[title]:after {
        content: "";
    }
}