// This files overwrites variables defined in the Bootstrap’s variables.less.
// IMPORTANT: when declaring custom variables (non-Bootstrap one) here, declare them with x- prefix.
// This will make easier changing the styles later.

//
// Variables
// --------------------------------------------------


//== Colors
//
//##

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@x-gray-light-medium:    lighten(#000, 73.3%);       // #bbbbbb

@brand-primary:         #39c2d7;
@brand-success:         #a3c644;
@brand-info:            #4b8ad9;
@brand-warning:         #ed931e;
@brand-danger:          #ef3030;

//** Lighter primary brand color for backgrounds
@x-brand-primary-soft:  #1a9cb0;


//== Shadows
@x-shadow-default:      0px 1px 2px rgba(0, 0, 0, 0.3);
@x-shadow-default-big:  0px 0px 8px rgba(0, 0, 0, 0.5);


//== Scaffolding
//
//##

//** Background color for `<body>`.
@body-bg:               white;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            #1a9cb0;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;


//== Typography
//
//##

@font-family-sans-serif:  "Source Sans Pro", "Trebuchet MS", sans-serif;
@font-family-serif:       "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
//** Font family used for accents
@x-font-family-accent:    "Oswald", "Arial Black", sans-serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;
@font-size-large:         ceil((@font-size-base * 1.25));   // ~20px
@font-size-small:         ceil((@font-size-base * 0.875));  // ~14px

@font-size-h1:            1.8em; // ~29px when of @font-size-base
@font-size-h2:            1.6em; // ~26px
@font-size-h3:            1.4em; // ~22px
@font-size-h4:            1.2em; // ~19px
@font-size-h5:            1em;   // ~16em
@font-size-h6:            0.8em; // ~13px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.5;
//** Non-unit-less line-height
@line-height-computed:    1.5em;

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;


//== Iconography
//
//##

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";


//== Components
//
//##

@padding-base-vertical:     0.25em;
@padding-base-horizontal:   1em;

// The large and small paddings are set to base paddings because base padding is declared in ems,
// and large or small paddings are always used with according font size.
@padding-large-vertical:    @padding-base-vertical;
@padding-large-horizontal:  @padding-base-horizontal;

@padding-small-vertical:    @padding-base-vertical;
@padding-small-horizontal:  @padding-base-horizontal;

// padding-xs is declared explicitly because it is used with the same font size as padding-small
@padding-xs-vertical:       0em;
@padding-xs-horizontal:     0.5em;

@line-height-large:         @line-height-base / 1.1;
@line-height-small:         @line-height-base * 1.1;

// Border-radius is 0 for most components
@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

// On some components, border-radius is not 0
@x-spec-border-radius:      4px;
@x-spec-border-radius-small: 2px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @body-bg;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-success;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;


//== Tables
//
//##

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            9px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f3f8f8;
//** Background color used for `.table-hover`.
@table-bg-hover:                #ebf3f3;
@table-bg-active:               @table-bg-hover;

//** Border color for cell borders.
@table-border-color:            #dbe1e3;


//== Buttons
//
//##

@btn-font-weight:                normal;

@btn-default-color:              @text-color;
@btn-default-bg:                 @body-bg;
@btn-default-border:             #ddd;
@x-btn-default-disabled-bg:      #ededed;
@x-btn-default-disabled-border:  @btn-default-border;

@btn-primary-color:              @body-bg;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @btn-primary-bg;
@x-btn-primary-disabled-bg:      #e7eeef;
@x-btn-primary-disabled-border:  @x-btn-primary-disabled-bg;

@btn-success-color:              @body-bg;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg;
@x-btn-success-disabled-bg:      #ecefe7;
@x-btn-success-disabled-border:  @x-btn-success-disabled-bg;

@btn-info-color:                 @body-bg;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg;
@x-btn-info-disabled-bg:         #e0e6ed;
@x-btn-info-disabled-border:     @x-btn-info-disabled-bg;

@btn-warning-color:              @body-bg;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg;
@x-btn-warning-disabled-bg:      #efebe7;
@x-btn-warning-disabled-border:  @x-btn-warning-disabled-bg;

@btn-danger-color:               @body-bg;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              @btn-danger-bg;
@x-btn-danger-disabled-bg:       #eee7e7;
@x-btn-danger-disabled-border:   @x-btn-danger-disabled-bg;

@btn-link-disabled-color:        @gray-light;

@x-btn-color-disabled:           rgba(0, 0, 0, 0.5);
@x-btn-border-radius:            @x-spec-border-radius;


//== Forms
//
//##

@input-bg:                       @body-bg;
@input-bg-disabled:              @gray-lighter;
//** Text color for `<input>`s
@input-color:                    @gray;
@input-border:                   @btn-default-border;

//** Default `.form-control` border radius
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             @gray-darker;

//** Placeholder text color
@input-color-placeholder:        #999;

// Here, ems are converted to pixels to add 2px (which is the border) to the non-border height.
// This way is used instead of CSS calc() function to make possible arithmetical operations on these variables.
//** Default `.form-control` height
@input-height-base:              unit(@line-height-computed + (@padding-base-vertical * 2), px) * @font-size-base + 2px;
//** Large `.form-control` height
@input-height-large:             unit(@line-height-large + (@padding-large-vertical * 2), px) * @font-size-large + 2px;
//** Small `.form-control` height
@input-height-small:             unit(@line-height-small + (@padding-small-vertical * 2), px) * @font-size-small + 2px;

@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;
//** Border-radius for textual input addons
@x-input-addon-border-radius:    @x-spec-border-radius;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;

//** Text color for disabled input
@x-input-color-disabled:         @gray-light;

//== Dropdowns
//
//##

@dropdown-bg:                    @body-bg;
@dropdown-border:                rgba(0,0,0,.15);
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       #ccc;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            #e3e3e3;

@dropdown-link-color:            @text-color;
@dropdown-link-hover-color:      @body-bg;
@dropdown-link-hover-bg:         @component-active-bg;
@dropdown-link-active-color:     @component-active-color;
@dropdown-link-active-bg:        @component-active-bg;
@dropdown-link-disabled-color:   @gray-light;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @gray-light;

//** Deprecated `@dropdown-caret-color` as of Bootstrap v3.1.0
@dropdown-caret-color:           #000;


//-- Z-index master list
// (Not customized.)


//== Media queries breakpoints
// (Not customized.)
@screen-xxs-max:                 (480px - 1); // @screen-xs-min value


//== Grid system
// (Not customized.)


//== Container sizes
// (Not customized.)


//== Navbar
// Navbar is not supported.


// Inverted navbar
// Inverted navbar is not supported.


//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          0.25em 2em;
@nav-link-hover-bg:                         @gray-lighter;
@x-nav-color:                               @text-color;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

//== Tabs
@nav-tabs-border-color:                     @btn-default-border;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   @nav-tabs-border-color;

@nav-tabs-justified-link-border-color:            @nav-tabs-border-color;
@nav-tabs-justified-active-link-border-color:     @body-bg;

// Properties for the top border of the active tab
@x-nav-tabs-active-top-border-color: @x-brand-primary-soft;
@x-nav-tabs-active-top-border-width:        3px;

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        @body-bg;
@pagination-border:                    @btn-default-border;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              darken(@pagination-border, 12%);

@pagination-active-color:              @body-bg;
@pagination-active-bg:                 @brand-primary;
@pagination-active-border:             @brand-primary;

@pagination-disabled-color:            @x-btn-color-disabled;
@pagination-disabled-bg:               @x-btn-default-disabled-bg;
@pagination-disabled-border:           @x-btn-default-disabled-border;

//** Border-radius for the pagination
@x-pagination-border-radius:           @x-spec-border-radius;


//== Pager
// (Not customized.)


//== Jumbotron
// (Not customized.)


//== Form states and alerts
//
//##

@state-success-text:             #739516;
@state-success-bg:               #cfe0b8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #2098aa;
@state-info-bg:                  #bddce8;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #cc8b00;
@state-warning-bg:               #f7f4e1;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #b22746;
@state-danger-bg:                #f9d1cc;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);


//== Tooltips
//
//##

@tooltip-max-width:           200px;

@tooltip-color:               @body-bg;
@tooltip-bg:                  @gray-light;
@tooltip-opacity:             1;

@tooltip-arrow-width:         5px;
@tooltip-arrow-color:         @tooltip-bg;


//== Popovers
//
//##

@popover-bg:                          #fff;
@popover-max-width:                   400px;
@popover-border-color:                rgba(0,0,0,.2);
@popover-fallback-border-color:       #ccc;

//** Popover title background color
@popover-title-bg:                    #e5ecef;

@popover-arrow-width:                 10px;
@popover-arrow-color:                 @popover-bg;

//** Popover outer arrow width
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color:           fadeout(@popover-border-color, 15%);
//** Popover outer arrow fallback color
@popover-arrow-outer-fallback-color:  darken(@popover-fallback-border-color, 20%);

//** Popover box-shadow
@x-popover-shadow:                    0 1px 9px rgba(0, 0, 0, 0.12);

//** Popover paddings
@x-popover-vertical-padding:          9px;
@x-popover-horizontal-padding:        14px;


//== Labels
//
//##

@label-default-bg:            @gray-light;
@label-primary-bg:            @brand-primary;
@label-success-bg:            @brand-success;
@label-info-bg:               @brand-info;
@label-warning-bg:            @brand-warning;
@label-danger-bg:             @brand-danger;

//** Default label text color
@label-color:                 @body-bg;
//** Default text color of a linked label
@label-link-hover-color:      @body-bg;


//== Modals
//
//##

//** Padding applied to the modal title, body and footer
@x-modal-inner-vertical-padding:    1em;
@x-modal-inner-horizontal-padding:  2em;

// Fallback for default bootstrap styling. Must be equal to vertical padding.
@modal-inner-padding:         @x-modal-inner-vertical-padding;
@modal-title-padding:         @x-modal-inner-vertical-padding;

@modal-title-line-height:     @line-height-base;

//** Background of the title section
@x-modal-title-bg:            #464547;
//** Border of the title section
@x-modal-title-color:         @body-bg;

// Modal content area
@modal-content-bg:                             #fff;
@modal-content-border-color:                   rgba(0,0,0,.2);
@modal-content-fallback-border-color:          #999;

// Modal backdrop
@modal-backdrop-bg:           #000;
@modal-backdrop-opacity:      .5;

@modal-header-border-color:   transparent;
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;

@x-modal-border-radius:       @x-spec-border-radius;


//== Alerts
// (Not customized.)


//== Progress bars
// (Not customized.)


//== List group
// (Not customized.)


//== Panels
// (Not customized.)


//== Thumbnails
// (Not customized.)


//== Wells
// (Not customized.)


//== Badges
// (Not customized.)


//== Breadcrumbs
// (Not customized.)


//== Carousel
// (Not customized.)


//== Close
//
//##

// Close is implemented in modal as an image instead of the cross symbol. The close symbol is hidden.
// Therefore, the following Bootstrap variables does not change anything and are only set here for consistency with other sections.
@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;

// Actual variables for cross image
//** Path to the cross image file relative to reui root
@x-close-image-path:          "assets/images/close-thin.svg";
@x-close-size:                1.5em;


//== Code
// (Not customized.)


//== Type
// (Not customized.)


//== Legacy: UUI layout
@uuiLeftColWidth: 220px;