//# ROMAN FONTS
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Sans Pro Light"),
        local("SourceSansPro-Light"),
        url(SourceSansPro-Light.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"),
        local("SourceSansPro-Regular"),
        url(SourceSansPro-Regular.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro Semibold"),
        local("SourceSansPro-Semibold"),
        url(SourceSansPro-Semibold.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"),
        local("SourceSansPro-Bold"),
        url(SourceSansPro-Bold.woff) format("woff");
}

// These roman font-weights are not required currently.
/*
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight"),
        local("SourceSansPro-ExtraLight"),
        url(SourceSansPro-ExtraLight.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    src: local("Source Sans Pro Black"),
        local("SourceSansPro-Black"),
        url(SourceSansPro-Black.woff) format("woff");
}
*/

//# ITALIC FONTS
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 300;
    src: local("Source Sans Pro Light Italic"),
        local("SourceSansPro-LightIt"),
        url(SourceSansPro-LightIt.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    src: local("Source Sans Pro Italic"),
        local("SourceSansPro-It"),
        url(SourceSansPro-It.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 600;
    src: local("Source Sans Pro Semibold Italic"),
        local("SourceSansPro-SemiboldIt"),
        url(SourceSansPro-SemiboldIt.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    src: local("Source Sans Pro Bold Italic"),
        local("SourceSansPro-BoldIt"),
        url(SourceSansPro-BoldIt.woff) format("woff");
}

// These italic font-weights are not required currently.
/*
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight Italic"),
        local("SourceSansPro-ExtraLightIt"),
        url(SourceSansPro-ExtraLightIt.woff) format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 900;
    src: local("Source Sans Pro Black Italic"),
        local("SourceSansPro-BlackIt"),
        url(SourceSansPro-BlackIt.woff) format("woff");
}
*/