// Input group styles
// This file overrides styles specified in bootstrap/less/input-groups.less file.
// --------------------------------------------------

// Set the border-radius for addons
.input-group-addon {
    border-radius: @x-input-addon-border-radius;
}
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    border-radius: @x-input-addon-border-radius;
}
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    border-radius: @x-input-addon-border-radius;
}

// Reset rounded corners
.input-group-addon,
.input-group-btn,
.input-group .form-control {
    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    .border-right-radius(0);
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    .border-left-radius(0);
}
.input-group-addon:last-child {
    border-left: 0;
}